body{
    margin: 0;
    padding: 0;
}
.home-container {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif, Arial, Helvetica;
    background-color: #87CEEB;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "race summer"
        "footer footer";
}

.banner{
    width: 100%;
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "headerleft headerright";
}
.banner--logo-full {
    width: 100%;
    display: flex;
    grid-area: headerleft;
    padding-left: 20px;
}

.banner--nav {
    grid-area: headerright;

}

.banner--nav ul {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    padding: 0;
    font-weight: bold;
}

.banner--nav ul li {
    list-style: none;
    width: 30%;
    background-color: #00afef;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
}

.banner--nav ul li a {
    text-decoration: none;
    color: #000000;
}

.banner--img {
    height: 100px;
    width: auto;
}

.main {
    display: flex;
    grid-area: main;
    align-items: center;
}

.race {
    grid-area: race;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "img title"
        "img para";
}

.race>img {
    grid-area: img;
}

.race>h2 {
    grid-area: title;
    text-align: center;
}

.race>p {
    grid-area: para;
}

.summer {
    grid-area: summer;
    display: flex;
    flex-direction: column;
}

.summer--title {
    text-align: center;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center; 
}

header h1 {
    padding-left: 20px;
    padding-top: 10px;
}

.main img {
    object-fit: cover;
    margin-right: 20px;
    height: 350px;
    width: 35%;
}

.main--list {
    list-style: none;
}

.main--list-item::before{
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

.main,
.race,
.summer,
.footer {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 20px;
}

.store--button {
    /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
}

.store--button>a {
    text-decoration: none;
    color: #000000;
}

@media only screen and (max-width: 800px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .nav ul li {
        line-height: 25px;
    }

    .main>img {
        margin-right: 0px;
        width: 100%;
    }

    .race {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "img title"
            "img ."
            "para para";
    }

    .race>h2 {
        text-align: justify;
    }

}